:root {
    --text-color: teal; 
}

body {
    color: var(--text-color);
    background-color: rgba(0, 128, 128, 0.1);
}

#welcome, #contact {
    min-height: 800px;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    border: 5px solid cadetblue;
    border-radius: 50%;
    padding: 5px;
}

.card {
    max-height: 500px;
    border-radius:25px;
    border: 1px solid teal;
    margin: 10px 0px;
    background-color: rgba(0, 128, 128, 0.1);
}

.card-img-top {
    height: 250px; 
    border-radius:25px;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: transform 2s ease-out 0.2;
}

.card-body > div, .card-body > p {
    margin-top: 5px;
    max-height: 150px;
    overflow: auto;
}

.fa-github {
    color: #343a40;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-skype {
    color: #00aff0;
}

.fa-google {
   color: #dd4b39;
}

.fa-phone {
    color: #28a745;
}

#contact > div > a {
    font-size: 28px;
    font-weight: bolder;
}

#contact > div > a:hover {
    transform: rotateY(360deg);
    transition: transform 6s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    height: 20px;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.3);
}

footer:hover {
    background-color: whitesmoke;
    opacity: 1;
}